.body {
	margin: 0;
}
#cluster-map {
	width: 100%;
	height: 500px;
}

#map {
	width: 100%;
	height: 300px;
}
.visually-hidden {
	display: none;
}
.carousel-control-prev,
.carousel-control-next {
	background-color: transparent;
	border: none;
}
.custom-file-input {
	padding: 0;
	line-height: 1.9;
}
